<ion-item>
  <ion-label>{{field.label}}</ion-label>
  <ion-checkbox></ion-checkbox>
</ion-item>

<div>
  <ion-card>
    <ion-card-content>
      <div *ngFor="let subForm of form.controls[field.name].controls; let i = index">
          <dynamic-field *ngFor="let child of field.children[i]" 
                        [field]="child" [form]="subForm">
          </dynamic-field>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="text-right">
    <button ion-button icon-left small clear right>
      <ion-icon name="add"></ion-icon>
      Add {{field.label}}
    </button>
  </div>
</div>
