<div>
  <ion-card>
    <ion-card-content>
      <div *ngFor="let subForm of form.controls[field.name + '_array'].controls">
          <dynamic-field *ngFor="let child of field.children" 
                        [field]="child" [form]="subForm">
          </dynamic-field>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="text-right">
    <button type="button" ion-button icon-left small clear right (click)="addToCollection(field.children)">
      <ion-icon name="add"></ion-icon>
      Add {{field.label}}
    </button>
  </div>
</div>
