<div [ngSwitch]="field.type">
  <input-field *ngSwitchCase="'text'" [field]="field" [form]="form"></input-field>
  <input-field *ngSwitchCase="'email'" [field]="field" [form]="form"></input-field>
  <checkbox-field *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></checkbox-field>
  <select-field *ngSwitchCase="'select'" [field]="field" [form]="form"></select-field>

  <collection-field *ngIf="field.children && field.children.length > 0" [field]="field" [form]="form"></collection-field>
</div>